.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/tests/browser/errorShots/
/tests/unit/coverage/

/tests/browser/tests/testdata/actual/*

!/tests/browser/tests/testdata/actual/create-new-finding-aid/
/tests/browser/tests/testdata/actual/create-new-finding-aid/*
!/tests/browser/tests/testdata/actual/create-new-finding-aid/chrome/
/tests/browser/tests/testdata/actual/create-new-finding-aid/chrome/*
!/tests/browser/tests/testdata/actual/create-new-finding-aid/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/actual/home/
/tests/browser/tests/testdata/actual/home/*
!/tests/browser/tests/testdata/actual/home/chrome/
/tests/browser/tests/testdata/actual/home/chrome/*
!/tests/browser/tests/testdata/actual/home/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/actual/login/
/tests/browser/tests/testdata/actual/login/*
!/tests/browser/tests/testdata/actual/login/chrome/
/tests/browser/tests/testdata/actual/login/chrome/*
!/tests/browser/tests/testdata/actual/login/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/actual/manage-in-process-finding-aids/
/tests/browser/tests/testdata/actual/manage-in-process-finding-aids/*
!/tests/browser/tests/testdata/actual/manage-in-process-finding-aids/chrome/
/tests/browser/tests/testdata/actual/manage-in-process-finding-aids/chrome/*
!/tests/browser/tests/testdata/actual/manage-in-process-finding-aids/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/actual/manage-published-finding-aids/
/tests/browser/tests/testdata/actual/manage-published-finding-aids/*
!/tests/browser/tests/testdata/actual/manage-published-finding-aids/chrome/
/tests/browser/tests/testdata/actual/manage-published-finding-aids/chrome/*
!/tests/browser/tests/testdata/actual/manage-published-finding-aids/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/actual/navbar/
/tests/browser/tests/testdata/actual/navbar/*
!/tests/browser/tests/testdata/actual/navbar/chrome/
/tests/browser/tests/testdata/actual/navbar/chrome/*
!/tests/browser/tests/testdata/actual/navbar/chrome/.commit-empty-directory

/tests/browser/tests/testdata/diffs/*

!/tests/browser/tests/testdata/diffs/create-new-finding-aid/
/tests/browser/tests/testdata/diffs/create-new-finding-aid/*
!/tests/browser/tests/testdata/diffs/create-new-finding-aid/chrome/
/tests/browser/tests/testdata/diffs/create-new-finding-aid/chrome/*
!/tests/browser/tests/testdata/diffs/create-new-finding-aid/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/home/
/tests/browser/tests/testdata/diffs/home/*
!/tests/browser/tests/testdata/diffs/home/chrome/
/tests/browser/tests/testdata/diffs/home/chrome/*
!/tests/browser/tests/testdata/diffs/home/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/login/
/tests/browser/tests/testdata/diffs/login/*
!/tests/browser/tests/testdata/diffs/login/chrome/
/tests/browser/tests/testdata/diffs/login/chrome/*
!/tests/browser/tests/testdata/diffs/login/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/manage-in-process-finding-aids/
/tests/browser/tests/testdata/diffs/manage-in-process-finding-aids/*
!/tests/browser/tests/testdata/diffs/manage-in-process-finding-aids/chrome/
/tests/browser/tests/testdata/diffs/manage-in-process-finding-aids/chrome/*
!/tests/browser/tests/testdata/diffs/manage-in-process-finding-aids/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/manage-published-finding-aids/
/tests/browser/tests/testdata/diffs/manage-published-finding-aids/*
!/tests/browser/tests/testdata/diffs/manage-published-finding-aids/chrome/
/tests/browser/tests/testdata/diffs/manage-published-finding-aids/chrome/*
!/tests/browser/tests/testdata/diffs/manage-published-finding-aids/chrome/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/navbar/
/tests/browser/tests/testdata/diffs/navbar/*
!/tests/browser/tests/testdata/diffs/navbar/chrome/
/tests/browser/tests/testdata/diffs/navbar/chrome/*
!/tests/browser/tests/testdata/diffs/navbar/chrome/.commit-empty-directory
